{%load static%}

<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="/static/img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="CodePixar">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>Flash</title>
	<!--
		CSS
		============================================= -->
	<link rel="stylesheet" href="/static/css/linearicons.css">
	<link rel="stylesheet" href="/static/css/font-awesome.min.css">
	<link rel="stylesheet" href="/static/css/themify-icons.css">
	<link rel="stylesheet" href="/static/css/bootstrap.css">
	<link rel="stylesheet" href="/static/css/owl.carousel.css">
	<link rel="stylesheet" href="/static/css/nice-select.css">
	<link rel="stylesheet" href="/static/css/nouislider.min.css">
	<link rel="stylesheet" href="/static/css/ion.rangeSlider.css" />
	<link rel="stylesheet" href="/static/css/ion.rangeSlider.skinFlat.css" />
	<link rel="stylesheet" href="/static/css/magnific-popup.css">
	<link rel="stylesheet" href="/static/css/main.css">
	<link rel="stylesheet" href="/static/css/hover.css">
</head>

<body>

	<!-- Start Header Area -->
	<header class="header_area sticky-header">
		<div class="main_menu">
			<nav class="navbar navbar-expand-lg navbar-light main_box">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<a class="navbar-brand logo_h" href="/static/index.html"><img src="/static/img/Flash.png" alt=""></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
						<ul class="nav navbar-nav menu_nav ml-auto">
							<li class="nav-item active"><a class="nav-link" href="/static/index.html">Home</a></li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li class="nav-item">
								<button class="search"><span class="lnr lnr-magnifier" id="search"></span></button>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
		<div class="search_input" id="search_input_box">
			<div class="container">
				<form class="d-flex justify-content-between" method="POST">
					{%csrf_token%}
					<input type="text" class="form-control" name= "search_input" id="search_input" placeholder="Search Here">
					<button type="submit" class="btn"></button>
					<span class="lnr lnr-cross" id="close_search" title="Close Search"></span>
				</form>
			</div>
		</div>
	</header>
	<!-- End Header Area -->

	<!-- start banner Area -->
	<section class="banner-area">
		<div class="container">
			<div class="row fullscreen align-items-center justify-content-start">
				<div class="col-lg-12">
					<div class="active-banner-slider owl-carousel">
						<!-- single-slide -->
						<div class="row single-slide align-items-center d-flex">
							<div class="col-lg-5 col-md-6">
								<div class="banner-content">
									<!-- <br> -->
									<h1>Flash<br>Collection!</h1>
									<p>We provide you flash sale items 
										from various infamous ecommerce company in Indonesia for <b>FREE</b></p>
								</div>
							</div>
						</div>
						<!-- single-slide -->
						<div class="row single-slide">
							<div class="col-lg-5">
								<div class="banner-content">
									<h1>Flash<br>Collection!</h1>
									<p>We provide you flash sale items 
										from various infamous ecommerce company in Indonesia for <b>FREE</b></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End banner Area -->
	<br>
	<h4><center>Swipe Left & Right to change between ecommerce</center></h4>
	<!-- start product Area -->
	<section class="owl-carousel active-product-area section_gap">

		<!-- single product slide -->
		<div class="single-product-slider">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-6 text-center">
						<div class="section-title">
							<h1>All</h1>
						</div>
					</div>
				</div>
				<div class="row">
					{% for produk in products_all%}
					<!-- single product -->
					<div class="col-lg-3 col-md-6">
						<div class="single-product hvr-grow">
							<a class="hvr-grow" href ="{{produk.url}}" alt="{{produk.nama}}" target ="_blank">
								<img class="img-fluid" src="{{produk.img}}" alt="">
								<div class="product-details">
									<h6>{{produk.nama}}</h6>
									<div class="price">
										<h6>{{produk.after_price}}</h6>
										<h6 class="l-through">{{produk.before_price}}</h6>
									</div>
									<div class="prd-bottom">
										<h6>{{produk.stock}}</h6>
									</div> 
								</div>
							</a>
						</div>
					</div>
					{%empty%}
					<h1><center>Tidak ada barang pada flash sale</center></h1>
					{%endfor%}
				</div>
			</div>
		</div>

		<!-- single product slide -->
		<div class="single-product-slider">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-6 text-center">
						<div class="section-title">
							<h1>Tokopedia</h1>
							<div class="row clock_sec clockdiv" id="clockdiv">
								<div class="col-lg-12">
									<div class="row clock-wrap">
										<div class="col clockinner clockinner1">
											<h1 class="hours" id ="hoursTokped">{{time_tokped.hour}}</h1>
											<span class="smalltext">Hours</span>
										</div>
										<div class="col clockinner clockinner1">
											<h1 class="minutes" id ="minutesTokped">{{time_tokped.minute}}</h1>
											<span class="smalltext">Mins</span>
										</div>
										<div class="col clockinner clockinner1">
											<h1 class="seconds" id ="secondsTokped">{{time_tokped.second}}</h1>
											<span class="smalltext">Secs</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					{% for produk in products_tokped%}
					<!-- single product -->
					<div class="col-lg-3 col-md-6">
						<div class="single-product hvr-grow">
							<a class="hvr-grow" href ="{{produk.url}}" alt="{{produk.nama}}" target ="_blank">
								<img class="img-fluid" src="{{produk.img}}" alt="">
								<div class="product-details">
									<h6>{{produk.nama}}</h6>
									<div class="price">
										<h6>{{produk.after_price}}</h6>
										<h6 class="l-through">{{produk.before_price}}</h6>
									</div>
									<div class="prd-bottom">

										<h6>{{produk.stock}}</h6>
									</div> 
								</div>
							</a>
						</div>
					</div>
					{%empty%}
					<h1><center>Tidak ada barang pada flash sale</center></h1>
					{%endfor%}
				</div>
			</div>
		</div>
		
		<!-- single product slide -->
		<div class="single-product-slider">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-6 text-center">
						<div class="section-title">
							<h1>Bukalapak</h1>
							<div class="row clock_sec clockdiv" id="clockdiv">
								<div class="col-lg-12">
									<div class="row clock-wrap">
										<div class="col clockinner clockinner1">
											<h1 class="hours" id ="hoursBL">{{time_bukalapak.hour}}</h1>
											<span class="smalltext">Hours</span>
										</div>
										<div class="col clockinner clockinner1">
											<h1 class="minutes" id ="minutesBL">{{time_bukalapak.minute}}</h1>
											<span class="smalltext">Mins</span>
										</div>
										<div class="col clockinner clockinner1">
											<h1 class="seconds" id ="secondsBL">{{time_bukalapak.second}}</h1>
											<span class="smalltext">Secs</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					{% for produk in products_bukalapak%}
					<!-- single product -->
					<div class="col-lg-3 col-md-6">
						<div class="single-product hvr-grow">
							<script>
								function Alert() {
									alert("Produk flash sale Bukalapak hanya dapat dibeli melalui aplikasi mobile");
								}
							</script>
							<a class="hvr-grow" onclick="javascript:Alert()" alt="{{produk.nama}}" >
							
							<!-- <button onclick="Alert()" style="border : none; background : none"> -->
								<img class="img-fluid" src="{{produk.img}}" alt="">
								<div class="product-details">
									<h6 style="text-align: left">{{produk.nama}}</h6>
									<div class="price">
										<h6 style="text-align: left">{{produk.after_price}}</h6>
										<h6 class="l-through" style="text-align: left">{{produk.before_price}}</h6>
									</div>
									<div class="prd-bottom">
										<h6 style="text-align: left">{{produk.stock}}</h6>
									</div> 
								</div>
							<!-- </button>	 -->
							</a>
						</div>
					</div>
					{%empty%}
					<h1><center>Tidak ada barang pada flash sale</center></h1>
					{%endfor%}
				</div>
			</div>
		</div>
	</section>
	<!-- end product Area -->


	<!-- start footer Area -->
	<footer class="footer-area section_gap">
		<div class="container">
			<div class="footer-bottom d-flex justify-content-center align-items-center flex-wrap">
				<p class="footer-text m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="/static/https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</p>
			</div>
		</div>
	</footer>
	<!-- End footer Area -->

	<script src="/static/js/vendor/jquery-2.2.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
	 crossorigin="anonymous"></script>
	<script src="/static/js/vendor/bootstrap.min.js"></script>
	<script src="/static/js/jquery.ajaxchimp.min.js"></script>
	<script src="/static/js/jquery.nice-select.min.js"></script>
	<script src="/static/js/jquery.sticky.js"></script>
	<script src="/static/js/nouislider.min.js"></script>
	<script src="/static/js/countdown.js"></script>
	<script src="/static/js/jquery.magnific-popup.min.js"></script>
	<script src="/static/js/owl.carousel.min.js"></script>
	<!--gmaps Js-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
	<script src="/static/js/gmaps.min.js"></script>
	<script src="/static/js/main.js"></script>
</body>

</html>